.inp{
width: 100%;
padding: 18px 14px;
color: #a9a9a9;
border-radius: 5px;
background-color: transparent;
outline: none;
border: 1px solid #a9a9a975;
font-size: 17px;
font-weight: 700;
margin-bottom: 10px;
}